:croot {
  --white-color: hsl(0, 0%, 100%);
  --foreground: rgb(36, 36, 36);
  --primary-red: #e52e1e;
  --primary-blue: #5c79ed;
  --primary-yellow: #f6bc2c;
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Hind Madurai", sans-serif;
  overflow: hidden;
}
body {
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -o-font-feature-settings: "kern";
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-weight: 400;
  font-family: "Sora", serif;
  font-size: 10pt;
  color: var(--foreground);
}
header {
  padding: 25px 25px 25px 25px;
}
a {
  text-decoration: none;
}
h1 {
  font-family: "Montserrat", sans-serif;
  color: #dddddd;
}
h2 {
  font-family: "Lora", serif;
}
.container {
  display: flex;
  overflow: hidden;
}
#root {
  height: 100%;
  width: 100%;
}

.button {
  background-color: white;
  color: #333333;
  padding: 0px 20px;
  margin: 0px 10px;
}

.button:hover {
  background-color: #eeeeee;
}

.button.selected {
  background-color: #cccccc;
}

nav {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  z-index: -100;
}
